body {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
html {
<!--background: url(images/profile1.jpg) no-repeat center center fixed;-->
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #000000	;
}

.content {
  float: left;
  width: 55%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 0px;
  padding-left: 80px;
  text-align: left;
  overflow: auto;
}

#info {
  font-size: 1.1em;
}
#project {
  font-size: 1.1em;
}
#activity {
  font-size: 1.1em;
}
#fun {
  font-size: 1.1em;
}

.content .links {
  margin-bottom: 1em;
  font-size: 2em;
  width: 100%;
}
  @media (max-device-width: 768px) {
    .content .links {
    font-size: 5em; }
}

.content .links a {
    color: #000000;
    margin-right: 0.5em;
}
.content a {
  text-decoration: none; }

.content a:hover {
  font-style: italic; }
.mail {
  text-decoration: none;
  color: #000000;
  font-size: 1.1em;
}
.northwestern {
    color: #4E2A84;
}
.hci {
  color: #8c1f1a;
}
.baidu {
  color: #2319dc;
}
.lend {
  color: #3c1b50;
}
.epic {
  color: #d52b34;
}
